@import "add";

.add-container,
.undetermined-container,
.all-container,
.friendsCommon {
    background: $color_3;
}

.friendsCommon-tip {
    color: $color_4;
    font-weight: bold;

    @extend .fz-12;
    @extend .mx-n6;
    @extend .my-n2;
    @extend .px-n2;
}
