.friendHeader-base {
    position: relative;
}

.friendsHeader-operation {
    width: 100%;
    height: 48px;
    color: $color_4;
    font-size: 16px;
    white-space: nowrap;

    .friendsHeader-operation-items {
        &.active,
        &:hover {
            background: rgba(79, 84, 92, .32);
            color: $white;
        }
    }

    .friendsHeader-operation-items,
    .friendsHeader-operation-add {
        height: 24px;
        line-height: 24px;
        border-radius: 5px;
    }

    .friendsHeader-operation-add {
        background: $green;
        color: $white;
    }
}
